@font-face {
  font-family: 'Octarine-Light';
  src:url(font-style/Octarine-Light.ttf.woff) format('woff'),
      url(font-style/Octarine-Light.ttf.svg) format('svg'),
      url(font-style/Octarine-Light.ttf.eot),
      url(font-style/Octarine-Light.ttf.eot) format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Octarine-Light';
}

:root {
  font-size        : 62.5%;
  --main-color:hsl(295, 27%, 58%);
  --main-color-hover:hsl(295, 20%, 51%);
  --background-color: hsl(32, 52%, 89%);
  --thir-color: hsl(168, 24%, 68%);
  --black:hsl(0, 0%, 16%);
  --surface-color: hsla(295, 27%, 58%, 0.08);
  --surface-color-hover: hsla(295, 27%, 58%, 0.15);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--background-color);
}

#container {
  font-size: 1.6rem;
  margin: 4.5rem auto 0;
  width: 58rem;
  padding: 0 2.4rem;
}

/* profile */
#profile {
  text-align: center;
}

#profile img {
  width: 11.2rem;
  border-radius: 50%;
}

#profile p {
  color: var(--black);
  font-weight: 500;
  line-height: 2.4rem;
}

#profile a {
  color: var(--thir-color);
}

/*Menu*/
#menu {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}

.toggle {
  display: none;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active, button:hover {
  cursor: pointer;
  background: var(--surface-color-hover);
}

.list, .toggle, .appointment button{
  font-size: 1.6rem;
  margin-top: 2rem;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
  width: 100%;
  color: var(--main-color);
  background: var(--surface-color);
  border: 1px solid var(--main-color);
}

.menuAbout {
  line-height: 2.4rem;
}

.menuAbout img{
  border: 1.5px solid var(--main-color);
  aspect-ratio: 3/4;
  width: 100%;
  max-width: 18.5rem;
  object-fit: cover;
  border-radius: 0.8rem;
  float: left;

  margin: 0 2rem 1rem 0;
}

.menuService{
  line-height: 2.4rem;
  margin-top: 0px;
}

.menuService img {
  max-width: 15rem;
  margin-right: 4rem;
  float: left;
}

.menuMap h1 {
  font-size: 2rem;
}

.menuMap iframe {
  border: 1.5px solid var(--main-color);
  border-radius: 0.8rem;

  margin-top: 2rem;
  width: 100%;
  height: 35rem;
}

/*Footer*/
#social-links {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  gap: 4rem;
  margin-top: 5rem;
}

#social-links a {
  color: var(--main-color);
}


#social-links a:hover {
  color: var(--main-color-hover);
}

#footerImg {
  width: 20rem;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}


/*Mobile Version*/
@media (max-width: 980px) {
  .menuAbout {
    display: flex;
    flex-direction: column;
  }
  
  .menuAbout img{
    aspect-ratio: 16/9;
    max-width: 100%;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #footerImg {
    position: relative;
    left: 0;
    bottom: 1rem;
  }
}


